html {
    background-color: dimgray;
}

body {
    background-color: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    width: 1000px;
    margin: auto;

}


header {

    background-color: aquamarine;
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 1;

}

footer {

    height: 60px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: aquamarine;
    z-index: 1;
    
}

h1 {

    size: 40px;
    margin-top: 15px;
    font-style: italic;
    color: coral;

}

h2 {

    font-size: 25px;
    margin-right: 30px;
    margin-top: 660px;

}

p {
    font-size: 30px;
    width: 900px;
    position: absolute;
    top: 60px;
    left: 167px;
    text-align: center;
    border-style: outset;
    border-color: skyblue;
    border-bottom-color: skyblue;
    background-color: burlywood;
    
}


h3 {

    size: 20px;
    margin-top: 5px;
    font-style: italic;
    color: crimson;
    text-align: center;

}

#portret {
    position: absolute;
    margin-top: 100px;
    width: 300x;
    height: 300px;
    right: 500px;
    top: 60px;
    border-style: solid;
    border-color: beige;

}

#portret2{
    position: relative;
    top: 50px;
    left: 30px;
    border-style: groove;
    border-color: coral;
    
}

#artistDesc {

    font-size: 20px;
    width: 900px;
    position: relative;
    top: 550px;
    left: 35px;
    background-color: lightgreen;
    border-style: solid;
    border-color: coral;
    padding-bottom: 5px;
    padding-bottom: 135px;
    text-align: center;
    
    
}

#Desc2{
    width: 900px;
    top: 400px;
    left: 35px;
    position: relative;
    border-top: 20px;
    border-style: solid;
    border-color: crimson;
    border-top-color: crimson;
    border-radius: 60%;
    text-align: center;
    padding-bottom: 500px;
    background-color: lightblue;
}


#Desc3{
    font-size: 20px;
    text-align-last: center;
    width: 300px;
    top: -80px;
    left: 120px;
    position: relative;
    background-color: beige;
    border-style: groove;
    border-color: blue;

}

#Desc4{
    font-size: 19px;
    text-align: center;
    width: 310px;
    top: -320px;
    left: 495px;
    position: relative;
    background-color: beige;
    border-style: groove;
    border-color: blue;
}

#Person{
    width: 900px;
    top: -310px;
    left: 35px;
    position: relative;
    border-top: 20px;
    border-style: solid;
    border-color: palegreen;
    border-top-color: greenyellow;
    border-radius: 15%;
    padding-bottom: 500px;
    background-color: coral;
    text-align: center;
    text-align: center;
    
}

#Desc5{
    top: 1580px;
    left: 550px;
    width: 500px;
    position: absolute;
    background-color: lightpink;
    border-style: groove;
    border-color: aquamarine;
    font-size: 20px;
    text-align: center;
    
}

#portret3{
    top: 100px;
    left: 80px;
    position: absolute;
    width: 250px;
    height: 250px;
}

#Desc6{
    top: 1900px;
    left: 190px;
    width: 850px;
    height: 660px;
    position: absolute;
    background-color: lightblue;
    border-style: groove;
    border-color: aquamarine;
    font-size: 25px;
    font-style: oblique; 
    text-align: center;
}

#Desc7{
    font-size: 18px;
    text-align: left;
    position: relative;
    width: 300px;
    top: -410px;
    left: 100px;
    background-color: skyblue;
    border-style: solid;
    border-color: red;
}

#portret4{
    top: 40px;
    left: 370px;
    position: absolute;

}


